/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * TOC
 * ------------------------------------------ \\
 * ------------------------------------------ //

 * Universal HTML Elements
 * Embedded Media
 * Single Insights
 * Custom Features

 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End TOC
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Unversal HTML Lements
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

li ul,
li ol {
    margin-bottom: 0;
}

li li:first-of-type {
    margin-top: 10px;
}

li li:last-of-type {
    margin-bottom: 0;
}

hr {
    border-bottom: none;
    border-top: 1px solid #000;
    margin: 30px auto;
    width: calc(100% + 200px);
    position: relative;
    left: -100px;
}

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Unversal HTML Lements
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Embedded Media
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

iframe {
    display: block;
    aspect-ratio: 16 / 9;
    margin: 50px auto;
}

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Embedded Media
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Single Insights
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Single Insights
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Custom Features
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

ul.toc,
ul.toc ul {
    list-style-type: none;
}

ul.toc li {
    position: relative;
    line-height: 1;
    padding-left: 14px;
    font-weight: 400;
}

ul.toc li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    height: 1em;
    border-left: 2px solid;
}

ul.toc > li:before {
    border-color: #E52793;
}

ul.toc > li > ul > li:before {
    border-color: #911DB0;
}

ul.toc > li > ul > li > ul > li:before {
    border-color: #2cd7e3;
}

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Custom Features
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/