/*
 * --------------------- \\
 * Lists
 * --------------------- //
*/

li li {
    margin-top: 10px;
}

li ul,
li ol {
    margin-bottom: 0;
}

/*
 * --------------------- \\
 * End Lists
 * --------------------- //
*/

hr {
    border-bottom: none;
    border-top: 1px solid #000;
    margin: 30px auto;
    width: calc(100% + 200px);
    position: relative;
    left: -100px;
}