/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * TOC
 * ------------------------------------------ \\
 * ------------------------------------------ //

 * Universal HTML Elements
 * Embedded Media
 * Single Insights

 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End TOC
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Unversal HTML Lements
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

li ul,
li ol {
    margin-bottom: 0;
}

li li:first-of-type {
    margin-top: 10px;
}

li li:last-of-type {
    margin-bottom: 0;
}

hr {
    border-bottom: none;
    border-top: 1px solid #000;
    margin: 30px auto;
    width: calc(100% + 200px);
    position: relative;
    left: -100px;
}

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Unversal HTML Lements
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Embedded Media
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

iframe {
    display: block;
    aspect-ratio: 16 / 9;
    margin: 40px auto;
}

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Embedded Media
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * Single Insights
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/

/*
 * ------------------------------------------ \\
 * ------------------------------------------ //
 * End Single Insights
 * ------------------------------------------ \\
 * ------------------------------------------ //
*/