body {
    font-family: 'SF Pro Text';
    font-size: 17px;
}

h2, h3, h4, h5 {
    margin-top: 30px;
    font-weight: bold;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1rem;
}

hr {
    margin: 34px auto;
}